@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* outline: 1px solid #f73; */
}

::-webkit-scrollbar {
  width: .5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-dark border border-primary rounded-xl shadow-lg shadow-light;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

input, button {
  @apply outline-none;
}

label {
  @apply cursor-pointer;
}

/* end of base */

input:checked+.custom-check {
  @apply border-0;
}

input:checked+.custom-check svg {
  @apply block;
}